#div1{
    display: flex;
    flex-direction: column;
    border-bottom: none;
}
#h2div1{
    font-family: "Algrey Sans";
    font-weight: 600;
    margin-bottom: -2.5rem;
}
#sign-btn1{
    width: 12rem;
    height: 3rem;
    font-weight: 600;
}