.profileDocWrapper{
    display: flex;
    font-family: "Algrey Sans";
    border: 1px solid #1DA1F2;
    height: 45rem;
    align-items: center;
    justify-content: space-around;
    background: #ecf0f3;
}