
.signin{
    font-family: "Algrey Sans";
    height: 42rem;
    width: 40rem;
}
.passwordErrorMsg{
    color: red;
}
.innerDiv{
    height: 50rem;
    display: flex;
    border: 2px solid #1DA1F2;
    align-items: center;
    justify-content: center;
    background: #ecf0f3;
}
.logDoc{
    text-align: center;
    margin-top: 1.5rem;
}